In [38]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import sem

get_ipython().magic('matplotlib notebook')

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [39]:
#Set csv file locations and load data into dataframes

# File locations
mouse_data_path = "data/mouse_drug_data.csv"
trial_data_path = "data/clinicaltrial_data.csv"

#Load dataframes

mouse_drug_df = pd.read_csv(mouse_data_path)
mouse_drug_df.head()

trial_data_df = pd.read_csv(trial_data_path)
trial_data_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [40]:
#Merge the two dataframes so we're only working with one file

drug_results_df = pd.merge(mouse_drug_df, trial_data_df, on=['Mouse ID'])


#Rename the tumor volume column because it's annoying
drug_results_df = drug_results_df.rename(columns={'Tumor Volume (mm3)': 'Volume'})  

#Drop all drugs except for Capomulin, Infubinol, Ketapril, and Placebo

drug_results_df = drug_results_df[drug_results_df['Drug'].isin(['Capomulin', 'Infubinol', 'Ketapril', 'Placebo'])]
drug_results_df.head()

    Mouse ID      Drug  Timepoint     Volume  Metastatic Sites
393     q119  Ketapril          0  45.000000                 0
394     q119  Ketapril          5  47.864440                 0
395     q119  Ketapril         10  51.236606                 0
396     n923  Ketapril          0  45.000000                 0
397     n923  Ketapril          5  45.824881                 0

## Tumor Response to Treatment

In [79]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 

#First get rid of the number of metastatic sites and mice for this analysis because we don't need them
#drug_results_tumor_df = drug_results_df.drop(columns = 'Metastatic Sites')
#drug_results_tumor_df = drug_results_df.drop(columns = 'Mouse ID')

drug_results_tumor_df = pd.DataFrame({'Drug' : drug_results_df['Drug'], 'Timepoint' : drug_results_df['Timepoint'], 
                                     'Volume' : drug_results_df['Volume']})
#drug_results_tumor_df.head(20)

#Get the average tumor volume for each drug/timepoint group and then put results into a new dataframe
drug_results_grp = drug_results_tumor_df.groupby(['Drug', 'Timepoint'])
drug_results_grp.mean()

drug_tumor_sum_df = pd.DataFrame(drug_results_grp.mean().reset_index())
drug_tumor_sum_df.head(20)

#rename the Volume column Average Volume

drug_tumor_sum_df.columns = ['Drug', 'Timepoint', 'Average Volume']
drug_tumor_sum_df.head(20)

         Drug  Timepoint  Average Volume
0   Capomulin          0       45.000000
1   Capomulin          5       44.266086
2   Capomulin         10       43.084291
3   Capomulin         15       42.064317
4   Capomulin         20       40.716325
5   Capomulin         25       39.939528
6   Capomulin         30       38.769339
7   Capomulin         35       37.816839
8   Capomulin         40       36.958001
9   Capomulin         45       36.236114
10  Infubinol          0       45.000000
11  Infubinol          5       47.062001
12  Infubinol         10       49.403909
13  Infubinol         15       51.296397
14  Infubinol         20       53.197691
15  Infubinol         25       55.715252
16  Infubinol         30       58.299397
17  Infubinol         35       60.742461
18  Infubinol         40       63.162824
19  Infubinol         45       65.755562

In [80]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint


sem_drug = drug_tumor_sum_df.groupby('Drug').sem()
# sem_drug

drug_results_grp = drug_results_tumor_df.groupby(['Drug', 'Timepoint']).sem()
drug_results_grp

#Convert the grouped object into a dataframe and then display a preview
drug_tumor_sem_df = pd.DataFrame(drug_results_grp.reset_index())
drug_tumor_sem_df.head(20)

#rename the Volume column to SEM

drug_tumor_sem_df.columns = ['Drug', 'Timepoint', 'SEM Volume']
drug_tumor_sem_df.head(20)

         Drug  Timepoint  SEM Volume
0   Capomulin          0    0.000000
1   Capomulin          5    0.448593
2   Capomulin         10    0.702684
3   Capomulin         15    0.838617
4   Capomulin         20    0.909731
5   Capomulin         25    0.881642
6   Capomulin         30    0.934460
7   Capomulin         35    1.052241
8   Capomulin         40    1.223608
9   Capomulin         45    1.223977
10  Infubinol          0    0.000000
11  Infubinol          5    0.235102
12  Infubinol         10    0.282346
13  Infubinol         15    0.357705
14  Infubinol         20    0.476210
15  Infubinol         25    0.550315
16  Infubinol         30    0.631061
17  Infubinol         35    0.984155
18  Infubinol         40    1.055220
19  Infubinol         45    1.144427

In [81]:
# Minor Data Munging to Re-Format the Data Frames

#Pivot the AVG volume dataframe so that the drugs are the columns and the index is the timepoint
drug_tumor_avg_df = drug_tumor_sum_df.pivot(index='Timepoint', columns = 'Drug', values = 'Average Volume')
drug_tumor_avg_df

#Pivot the SEM volume dataframe so that the drugs are the columns and the index is the timepoint
drug_tumor_sem_df = drug_tumor_sem_df.pivot(index='Timepoint', columns = 'Drug', values = 'SEM Volume')
drug_tumor_sem_df

Drug       Capomulin  Infubinol  Ketapril   Placebo
Timepoint
0           0.000000   0.000000  0.000000  0.000000
5           0.448593   0.235102  0.264819  0.218091
10          0.702684   0.282346  0.357421  0.402064
15          0.838617   0.357705  0.580268  0.614461
20          0.909731   0.476210  0.726484  0.839609
25          0.881642   0.550315  0.755413  1.034872
30          0.934460   0.631061  0.934121  1.218231
35          1.052241   0.984155  1.127867  1.287481
40          1.223608   1.055220  1.158449  1.370634
45          1.223977   1.144427  1.453186  1.351726

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [ ]:
# Show the Figure
plt.show()

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()